---
import "../styles/components/footer.css";
---

<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <p class="footer-title">Inverse Problems at Scale</p>
    </div>
    <div class="footer-links">
      <a href="https://github.com/numpex/benchmark_invprob_largescale"
        >GitHub ↗</a
      >
    </div>
  </div>
</footer>
